:root {
    --primary: #227093;
    --secondary: #ff5252;
    --background: #eee;
    --highlight: #ffda79;
    /* Theme color */
    --theme: var(--primary);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 
* {
    font-family: "Zen Old Mincho", serif;
} */

.simpleParallax {
    height: 100%;
}

.font-mincho {
    font-family: "Zen Old Mincho", serif;
}

.font-gothic {
    font-family: 'Zen Kaku Gothic New', sans-serif !important;
}

.featured-swiper .swiper-pagination-bullet {
    background: #fff !important;
    opacity: 1 !important;
}

.featured-swiper .swiper-pagination-bullet-active {
    background: #C4B28C !important;
}


@keyframes bounce {
    25% {
        transform: rotate(90deg) translate(.25rem);
    }

    75% {
        transform: rotate(90deg) translate(-.25rem);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-33.33%);
    }
}

/* Parallax Fixed Background Optimization */
.parallax-bg-fixed {
    will-change: transform;
    backface-visibility: hidden;
    transition: transform 0.1s ease-out;
}


/* @media (min-width: 768px) {
    .top-about-swiper .swiper-slide {
        width: 30% !important;
        transition: width .5s;
    }

    .top-about-swiper .swiper-slide.swiper-slide-active {
        width: 37% !important;
    }
}

@media (max-width: 768px) {
    .top-about-swiper .swiper-slide {
        width: 90% !important;
        transition: width .5s;
    }

    .top-about-swiper .swiper-slide.swiper-slide-active {
        width: 80% !important;
    }
} */



@media (min-width: 767px) {

    .top-about-swiper .swiper-slide.swiper-slide-next {
        transition: width .5s;
    }

    .top-about-swiper .swiper-slide {
        width: 30%;
        transition: width .5s;
    }
    
    .top-about-swiper .swiper-slide.swiper-slide-next {
        width: 38%;
        transition: width .5s;
    }
}

@media (max-width: 375px) {
    .top-about-swiper .swiper-slide {
        width: 80%;
        transition: width .5s;
    }
    
    .top-about-swiper .swiper-slide.swiper-slide-next {
        width: 90%;
    }
}