:root {
    --primary: #227093;
    --secondary: #ff5252;
    --background: #eee;
    --highlight: #ffda79;
    /* Theme color */
    --theme: var(--primary);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
/* 
* {
    font-family: "Zen Old Mincho", serif;
} */

.simpleParallax {
    height: 100%;
}

.font-mincho {
    font-family: "Zen Old Mincho", serif;
}

.font-gothic {
    font-family: 'Zen Kaku Gothic New', sans-serif !important;
}

.featured-swiper .swiper-pagination-bullet {
    background: #fff !important;
    opacity: 1 !important;
}

.featured-swiper .swiper-pagination-bullet-active {
    background: #C4B28C !important;
}


@keyframes bounce {
    25% {
        transform: rotate(90deg) translate(.25rem);
    }

    75% {
        transform: rotate(90deg) translate(-.25rem);
    }
}

/* Parallax Fixed Background Optimization */
.parallax-bg-fixed {
    will-change: transform;
    backface-visibility: hidden;
    transition: transform 0.1s ease-out;
}